// Resetting 
*{
    margin: 0;
    padding: 0;
}

// Variables 
$appsIconColor: #45444419;
$headerFontColor: #393939;
$hover: #72727216;

// Body Section 
body{
    box-sizing: border-box;
    font-size: 14px;
    background-color: white;
    header{
        display: flex;
        justify-content: right;
        padding-top: 7px;
        padding-left: 5px;
        nav{
            width: 221.59px;
            height: 48px;
            display: flex;
            justify-content: center;
            align-items: center;
            .links{
                width: 121.59px;
                height: 24.84px;
                display: flex;
                align-items: center;
                justify-content: center;
                padding-right: 15px;
                a{
                    text-decoration: none;
                    color: $headerFontColor;
                    font-family: Arial, Helvetica, sans-serif;
                    font-size: 13px;
                    padding-left: 15px;
                }
                a:hover{
                    text-decoration: underline;
                }
            }
            .googleAppsIcon{
                width: 48px;
                height: 48px;
                padding: 4px;
                display: flex;
                justify-content: center;
                align-items: center;
                .appSection{
                    width: 40px;
                    height: 40px;
                    padding: 8px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .apps{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 24px;
                        height: 24px;
                        .appsIcon{
                            width: 16px;
                            height: 16px;
                        }
                    }
                    .apps:hover{
                        border-radius: 50%;
                        background-color: $appsIconColor;
                    }
                }
                
            }
            .profile{
                width: 48px;
                height: 48px;
                padding: 4px;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 4px;
                .profileBorder{
                    width: 40px;
                    height: 40px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 4px;
                    img{
                        width: 32px;
                        border-radius: 50%;
                    }
                }
                .profileBorder:hover{
                    background-color: $hover;
                    border-radius: 50%;
                }
            }
        }
        
    }
    main{
       .logo{
        height: 290px;
        display: flex;
        justify-content: center;
        align-items: center;
        img{
            width: 272px;
            height: 92px;
            margin-top: 200px;
        }
       }
       .searchbar{
        height: 40px;
        margin: 8px;
        .search{
            width: 33px;
            height: 44px;
            margin: -5px 0px 0px 0px;
            padding: 0px 13px 0px 0px;
            .searchIcon{
                width: 20px;
                height: 26px;
                margin: 9px 0px;
                svg{
                    width: 24px;
                    height: 24px;
                    path{
                        width: 17.49px;
                        height: 17.49px;
                    }
                }
            }
           }
        }
       }

}
