// Resetting 
*{
    margin: 0;
    padding: 0;
}

// Variables 
$appsIconColor: #45444419;
$headerFontColor: #393939;
$hover: #72727216;
$iconColor: #B2B8BC;
$iconColorKeyboard: #6b6b6b;

// Body Section 
body{
    box-sizing: border-box;
    font-size: 14px;
    background-color: white;
    header{
        display: flex;
        justify-content: right;
        padding-top: 7px;
        padding-left: 5px;
        nav{
            width: 221.59px;
            height: 48px;
            display: flex;
            justify-content: center;
            align-items: center;
            .links{
                width: 90.59px;
                height: 24.84px;
                display: flex;
                align-items: center;
                justify-content: center;
                padding-right: 15px;
                a{
                    display: flex;
                    text-decoration: none;
                    color: $headerFontColor;
                    font-family: Arial, Helvetica, sans-serif;
                    font-size: 13px;
                    padding-left: 15px;
                }
                a:hover{
                    text-decoration: underline;
                }
            }
            .googleAppsIcon{
                width: 48px;
                height: 48px;
                padding: 4px;
                display: flex;
                justify-content: center;
                align-items: center;
                .appSection{
                    width: 40px;
                    height: 40px;
                    padding: 8px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .apps{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 24px;
                        height: 24px;
                        .appsIcon{
                            width: 16px;
                            height: 16px;
                        }
                    }
                    .apps:hover{
                        border-radius: 50%;
                        background-color: $appsIconColor;
                    }
                }
                
            }
            .profile{
                width: 48px;
                height: 48px;
                padding: 4px;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 4px;
                .profileBorder{
                    width: 40px;
                    height: 40px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 4px;
                    img{
                        display: flex;
                        width: 32px;
                        border-radius: 50%;
                    }
                }
                .profileBorder:hover{
                    background-color: $hover;
                    border-radius: 50%;
                }
            }
        }
        
    }
    main{
       .logo{
            height: 290px;
            display: block;
            text-align: center;
                img{
                    width: 272px;
                    height: 92px;
                    margin-top: 200px;
                }
        }
        .searchSection{
            height: 50px;
            padding: 20px;
            display: flex;
            justify-content: center;
            .search{
                width:  575px;
                height: 44px;
                padding: 0px 15px 0px 14px;
                border: 1px solid rgba(128, 128, 128, 0.209);
                border-radius: 25px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                .searchIcon{
                    display: inline;
                    svg{
                        color: $iconColor;
                    }
                    svg{
                        width: 20px;
                        height: 20px;
                    }
                }
                .input{
                  display: inline;
                    
                    input{
                        width: 460px;
                        height: 40px;
                        outline: none;
                        border: none;
                        
                    }

                }
                .voiceSearch{
                    display: flex;
                    flex-direction: row-reverse;
                    .keyboard{
                        i{
                            padding-right: 15px;
                            font-size: 24px;
                            color: $iconColorKeyboard;
                        }
                    }

                }
                
            }

        }
        .featureSection{
            .feature{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                .googleSearch{
                    .gsearch{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        background-color: #F8F9FA;
                        width: 120px;
                        height: 36px;
                        margin: 11px 4px;
                        padding: 0px 16px;
                        border-radius: 2px;
                        p{
                            color: $headerFontColor;
                            font-size: 15.7px;
                        }
                    }
                    .gsearch:hover{
                        border: 0.5px solid black;
                    }
                }
                .feelingLucky{
                    .flucky{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        background-color: #F8F9FA;
                        width: 90px;
                        height: 36px;
                        margin: 11px 4px;
                        padding: 0px 16px;
                        border-radius: 2px;
                            color: $headerFontColor;
                            a{
                                text-decoration: none;
                                color: $headerFontColor;
                                font-size: 15.7px;
                            }
                            a:hover{
                                text-decoration: none;
                            }
                       
                    }
                    .flucky:hover{
                        border: 0.5px solid rgba(109, 109, 109, 0.417);
                    }
                }
            }
            .language{
                display: flex;
                justify-content: center;
                align-items: center;
                height: 50px;
                p{
                    a{
                        margin-left: 3px;
                    }
                }
            }
            
        }
        .empty{
            display: flex;
            height: 690px;
        }
    }
    

    // Footer Section 
    footer{
        .region{
            p{
                color: #666463;
                font-size: 15px;
                font-family: Arial, Helvetica, sans-serif;
                margin-left: 30px;
                padding: 16px;
            }
        }
        hr{
            border: 1px solid rgba(128, 128, 128, 0.156);
        }
        .about{
            display: flex;
            justify-content: space-between;
            height: 46px;
            .us{
                padding: 16px;
                a{
                    color: #666463;
                    font-size: 14px;
                    font-family: Arial, Helvetica, sans-serif;
                    margin-left: 35px;
                    text-decoration: none;
                    
                    
                }
                .hsw{
                    font-size: 5px;
                }
            }
            
            .policy{
                display: flex;
                justify-content: end;
                align-items: center;
                a{
                    color: #666463;
                    
                    font-family: Arial, Helvetica, sans-serif;
                    margin-left: 30px;
                    text-decoration: none;
                    margin-right: 35px;
                    
                }
            }
        }
    }
}

@media only screen and (max-width: 314px) {
    body{
        main{
            .empty{
                height: 150px;
            }
        }
        footer{
            .about{
                .us{
                    padding: 0px;
                        
                    
                }
               
            }
        }

    }
}


@media only screen and (min-width: 768px) {
    body{
        main{
            .empty{
                height: 690px;
            }
        }
        footer{
            .region{
                margin-left: 35px;
            }
            .about{
                
                .us{
                    margin-left: 35px;
                    .hsw{
                        
                        font-size: 14px;
                    }
                }
                .policy{
                    width: 70%;
                    a{
                        font-size: 14px;
                        
                    }
                    

                }
            }
        }

    }
}
@media only screen and (max-width: 414px) {
    body{
        main{
            .empty{
                height: 200px;
            }
        }
        footer{
            .about{
                .us{
                    
                        
                    a{
                       
                        font-size: 8px;
                    }
                }
                .policy{
                    width: 70%;
                    a{
                        font-size: 8px;
                        
                    }
                    

                }
            }
        }

    }
}