// Resetting 
*{
    margin: 0;
    padding: 0;
}

// Variables 
$appsIconColor: #45444419;
$headerFontColor: #393939;
$hover: #72727216;

// Body Section 
body{
    box-sizing: border-box;
    font-size: 14px;
    background-color: white;
    header{
        display: flex;
        justify-content: right;
        padding-top: 7px;
        padding-left: 5px;
        nav{
            width: 221.59px;
            height: 48px;
            display: flex;
            justify-content: center;
            align-items: center;
            .links{
                width: 121.59px;
                height: 24.84px;
                display: flex;
                align-items: center;
                justify-content: center;
                padding-right: 15px;
                a{
                    text-decoration: none;
                    color: $headerFontColor;
                    font-family: Arial, Helvetica, sans-serif;
                    font-size: 13px;
                    padding-left: 15px;
                }
                a:hover{
                    text-decoration: underline;
                }
            }
            .googleAppsIcon{
                width: 48px;
                height: 48px;
                padding: 4px;
                display: flex;
                justify-content: center;
                align-items: center;
                .appSection{
                    width: 40px;
                    height: 40px;
                    padding: 8px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .apps{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 24px;
                        height: 24px;
                        .appsIcon{
                            width: 16px;
                            height: 16px;
                        }
                    }
                    .apps:hover{
                        border-radius: 50%;
                        background-color: $appsIconColor;
                    }
                }
                
            }
            .profile{
                width: 48px;
                height: 48px;
                padding: 4px;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 4px;
                .profileBorder{
                    width: 40px;
                    height: 40px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 4px;
                    img{
                        width: 32px;
                        border-radius: 50%;
                    }
                }
                .profileBorder:hover{
                    background-color: $hover;
                    border-radius: 50%;
                }
            }
        }
        
    }
    main{
       .logo{
            height: 290px;
            display: block;
            text-align: center;
                img{
                    width: 272px;
                    height: 92px;
                    margin-top: 200px;
                }
        }
        .searchSection{
            height: 160px;
            padding: 20px;
            display: flex;
            justify-content: center;
            .search{
                width:  575px;
                height: 44px;
                padding: 5px 15px 0px 14px;
                border: 1px solid rgba(128, 128, 128, 0.209);
                border-radius: 25px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                .searchIcon{
                    display: inline;
                    svg{
                        width: 20px;
                        height: 20px;
                    }
                }
                .input{
                    display: inline;
                    input{
                        all: unset;
                    }
                .voiceSearch{
                    display: inline;
                    img{
                        width: 20px;
                        height: 20px   ;
                    }
                }
            }
        }

    }

    }
}